

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.a{
    all: unset;
    all: revert;
}



.main{
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 0px;


}
.logo > *{
    width: 15vh;
    justify-self: flex-start;
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow-x: hidden;
    
}

.button:hover{
    transform: scale(1.1);
}
.button:hover > * {
    transform: scale(1.1);
}

.basket > *{
    align-self: center;
    justify-self: flex-end;
    align-content: center;
    width: 8vh;
    -webkit-filter: drop-shadow(3px 3px 10px);
    
}
.basket{
    align-self: center;
    justify-self: flex-end;
    align-content: center;

}
.mainBlock{
    background: rgba(0,0,0, .35) url(Images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

.topBar{
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-content: center;

    
}
.menu{
    display: flex;
    margin-left: 20vh;
    flex: 1;
    flex-grow: 1;
    width: 50vh;
    justify-content: flex-end;
    justify-self: flex-end;
    align-self: center;
    font-family: "Courier New";
    color: white;
    font-size: 3vh;
    font-weight: 900;
    text-shadow: 3px 3px 10px black;

}
.menu > *{
    padding: 3vh;
}

.loupe > *{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 8vh;
    -webkit-filter: drop-shadow(20px 20px 20px);
}

.searchBar{
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-self: center;
    height: 8vh;
    width: 90vh;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: 40vh;
    
}


.blue{
    display:flex;
    flex-grow: 1;
    margin-inline: -5vh;
    height: 80hv;
    align-content: center;
    align-items: stretch;
    
    
    
}

.blue > *{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #0070BA;
    font-family: "Courier New";
    color: white;
    font-size: 3vh;
    font-weight: 900;
    border-color: #D1D1D1;
    border-width: 0.1px;
    border-style: solid;
    text-align: center;
    padding: 2vh 2vh 2vh;



}

.textField{
    display: flex;
    background-color: #D1D1D1;
    border-radius: 5vh;
    align-items: center;
    justify-items: flex-start;
    margin-left: 5px;
    font-family: "Courier New";
    color: #535353;
    font-size: 2vh;
    width: 90vh;
    font-weight: 900;
}

.textField > *{
    margin-left: 2vh;
}

.populatCategories{
    display: flex;
    flex-grow: 1;
    margin-top: 10vh;
    justify-content: space-evenly;
    
    
}
.populatCategories > * {
    display: flex;
    height: 30vh;
    width: 20vh;
    text-align: center;
    padding: 2vh 2vh 2vh;
    overflow-x: hidden;
    background-size: cover;
    align-self: flex-end;
    justify-content: center;
    
    
}

.categoryLeft{
    background-image: url(Images/pexels-pixabay-302457.jpg);

}

.categoryMiddle{
    background-image: url(Images/pexels-nicolas-postiglioni-1927383.jpg);

}

.categoryRight{
    background-image: url(Images/pexels-adonyi-gábor-1400172.jpg);

}

.blue2 {
    font-family: "Courier New";
    color: white;
    font-size: 3vh;
    font-weight: 900;
    background-color: #0070BA;
    align-self: flex-end;
    justify-self: center;
    margin: 0;
    padding: 0vh 10vh 0vh;
}

.aboutBlock{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}
.topCaption{
    font-family: "Courier New";
    color: black;
    font-size: 5vh;
    font-weight: 900;
    text-align: center;
    margin: 10vh 20vh 10vh;
    
}

.topAbout{
    display: flex;
    justify-items: space-around;
}

.blackP{
    display: flex;
    justify-content: center;
}
.blackP > *{
    justify-self: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 50vh;

}

.boat{
    display: flex;
    justify-content: center;

}

.boat > *{
    webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 80vh;
}

.topAbout > *{
    display :flex ;
    font-family: "Courier New";
    color: black;
    font-size: 3vh;
    font-weight: 900;
    width: 300vh;
    margin: 5vh 5vh 5vh;
    

}

.bottomAbout{
    display: flex;
    flex-direction: row-reverse;
    justify-items: space-around;
    margin: 5vh 5vh 5vh;

}

.bottomAbout > *{
    font-family: "Courier New";
    width: 300vh;
    color: black;
    font-size: 3vh;
    font-weight: 900;
    text-align: center;    
}

.text > *{
    width: 50vh;
}

.contactBlock{
    display: flex;
    justify-items: space-around;
    justify-content: space-around;
    background-color: #0070BA;
    height: 20vh;
}



.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New";
    width: 300vh;
    color: white;
    font-size: 3vh;
    font-weight: 900;
    word-spacing: 1vh;
}


.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New";
    width: 300vh;
    color: white;
    font-size: 3vh;
    font-weight: 900;
    word-spacing: 1vh;

}



